<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	xmlns:context="http://www.springframework.org/schema/context">
        
        <!-- BEANS  CONFIGURACION DATASOURCE-->
        <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
            <property name="driverClassName">
                    <value>oracle.jdbc.driver.OracleDriver</value>  
            </property>
            <property name="url">
                    <value>jdbc:oracle:thin:@localhost:1521:XE</value>
            </property>
            <property name="username">
                    <value>proint2014-2</value>
            </property>
            <property name="password"> 
                    <value>proint2014-2</value>
            </property>
        </bean>
        
        <!-- BEANS CONFIGURACION HIBERNATE-->
        <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="mappingResources">
			<list>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbAdmCiudades.hbm.xml</value>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbAdmCorrequisitos.hbm.xml</value>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbAdmDepartamentos.hbm.xml</value>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbAdmDependencia.hbm.xml</value>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbAdmDocentesxnucleo.hbm.xml</value>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbAdmMaterias.hbm.xml</value>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbAdmNucleo.hbm.xml</value>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbAdmPaises.hbm.xml</value>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbAdmPersona.hbm.xml</value>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbAdmPrerrequisitos.hbm.xml</value>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbAdmSemestre.hbm.xml</value>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbAdmTipoidentificacion.hbm.xml</value>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbAdmTipopersona.hbm.xml</value>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbAdmUnidadAcademica.hbm.xml</value>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbAdmUsuarios.hbm.xml</value>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbMicAutores.hbm.xml</value>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbMicAutorxbiblio.hbm.xml</value>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbMicBibliografia.hbm.xml</value>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbMicBiblioxunidad.hbm.xml</value>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbMicEstados.hbm.xml</value>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbMicMateriasxpensum.hbm.xml</value>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbMicMicrocurriculos.hbm.xml</value>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbMicMicroxestado.hbm.xml</value>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbMicMicroxsemestre.hbm.xml</value>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbMicObjetivos.hbm.xml</value>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbMicObjetivosxmicro.hbm.xml</value>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbMicPensum.hbm.xml</value>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbMicSubtemas.hbm.xml</value>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbMicTemas.hbm.xml</value>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbMicTemasxunidad.hbm.xml</value>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbMicUnidades.hbm.xml</value>
				<value>com/udea/proint1/microcurriculo/dto/mapping/TbMicUnidadesxmicro.hbm.xml</value>
			</list>
		</property>
            
            <property name="hibernateProperties">
                 <props>
                      <prop key="hibernate.dialect">
                              org.hibernate.dialect.Oracle10gDialect
                      </prop>
                      <prop key="hibernate.show_sql">
                              true                                   
                      </prop>
                      <prop key="hibernate.transaction.factory_class">
                              org.hibernate.transaction.JDBCTransactionFactory
                      </prop>
                 </props>
            </property>      
        </bean>
		
		<!-- SE CREAN LOS BEANS CORRESPONDIENTES A LOS DAO's -->
		
		<bean id="materiasDAO" 	class="com.udea.proint1.microcurriculo.dao.hibernate.MateriasDAOHibernate">
        	<property name="sessionFactory" ref="sessionFactory" />
        </bean>
        
        <bean id="personaDAO" class="com.udea.proint1.microcurriculo.dao.hibernate.PersonaDAOHibernate">
        	<property name="sessionFactory" ref="sessionFactory" />
        </bean>
        
        <bean id="semestreDAO" class="com.udea.proint1.microcurriculo.dao.hibernate.SemestreDAOHibernate">
        	<property name="sessionFactory" ref="sessionFactory" />
        </bean>
                
        <bean id="microcurriculosDAO" class="com.udea.proint1.microcurriculo.dao.hibernate.MicrocurriculosDAOHibernate">
        	<property name="sessionFactory" ref="sessionFactory" />
        </bean>
        
        <bean id="nucleoDAO" class="com.udea.proint1.microcurriculo.dao.hibernate.NucleoDAOHibernate">
        	<property name="sessionFactory" ref="sessionFactory" />
        </bean>
        
        <bean id="objetivosDAO" class="com.udea.proint1.microcurriculo.dao.hibernate.ObjetivosDAOHibernate">
        	<property name="sessionFactory" ref="sessionFactory" />
        </bean>
        
        <bean id="objetivosxMicroDAO" class="com.udea.proint1.microcurriculo.dao.hibernate.ObjetivosxMicroDAOHibernate">
        	<property name="sessionFactory" ref="sessionFactory" />
        </bean>
        
        <bean id="unidadesDAO" class="com.udea.proint1.microcurriculo.dao.hibernate.UnidadesDAOHibernate">
        	<property name="sessionFactory" ref="sessionFactory" />
        </bean>
        
        <bean id="estadosDAO" class="com.udea.proint1.microcurriculo.dao.hibernate.EstadosDAOHibernate">
        	<property name="sessionFactory" ref="sessionFactory" />
        </bean>
        
        <bean id="temasDAO" class="com.udea.proint1.microcurriculo.dao.hibernate.TemasDAOHibernate">
        	<property name="sessionFactory" ref="sessionFactory" />
        </bean>
        
        <bean id="temasxUnidadDAO" class="com.udea.proint1.microcurriculo.dao.hibernate.TemasxUnidadDAOHibernate">
        	<property name="sessionFactory" ref="sessionFactory" />
        </bean>
        
        <bean id="evaluacionesDAO" class="com.udea.proint1.microcurriculo.dao.hibernate.EvaluacionesDAOHibernate">
        	<property name="sessionFactory" ref="sessionFactory" />
        </bean>
        
        <bean id="evaluacionesxMicroDAO" class="com.udea.proint1.microcurriculo.dao.hibernate.EvaluacionxmicroDAOHibernate">
        	<property name="sessionFactory" ref="sessionFactory" />
        </bean>
        
        <bean id="unidadAcademicaDao" class="com.udea.proint1.microcurriculo.dao.hibernate.UnidadesAcademicasDAOHibernate">
        	<property name="sessionFactory" ref="sessionFactory" />
        </bean>
        
        <bean id="dependenciaDao" class="com.udea.proint1.microcurriculo.dao.hibernate.DependenciasDAOHibernate">
        	<property name="sessionFactory" ref="sessionFactory" />
        </bean>
        
        <bean id="correquisitosDao" class="com.udea.proint1.microcurriculo.dao.hibernate.CorrequisitosDAOHibernate">
        	<property name="sessionFactory" ref="sessionFactory" />
        </bean>
        
        <bean id="prerrequisitosDao" class="com.udea.proint1.microcurriculo.dao.hibernate.PrerrequisitosDAOHibernate">
        	<property name="sessionFactory" ref="sessionFactory" />
        </bean>
        
        <bean id="unidadesxMicroDAO" class="com.udea.proint1.microcurriculo.dao.hibernate.UnidadesxMicroDAOHibernate">
        	<property name="sessionFactory" ref="sessionFactory" />
        </bean>
        
        <bean id="subtemasDAO" class="com.udea.proint1.microcurriculo.dao.hibernate.SubtemasDAOHibernate">
        	<property name="sessionFactory" ref="sessionFactory" />
        </bean>
        
        <bean id="paisesDAO" class="com.udea.proint1.microcurriculo.dao.hibernate.PaisesDAOHibernate">
        	<property name="sessionFactory" ref="sessionFactory" />
        </bean>
        
        <bean id="microxestadoDao" class="com.udea.proint1.microcurriculo.dao.hibernate.MicroxEstadoDAOHibernate">
        	<property name="sessionFactory" ref="sessionFactory" />
        </bean>
        
        
        <!-- <bean id="semestreDAO" class="com.udea.proint1.microcurriculo.dao.hibernate.SemestreDAOHibernate">
			<property name="sessionFactory" ref="sessionFactory" />
		</bean>  -->
		


		<!-- AQUI SE DEFINEN LOS BEANS CORRESPONDIENTES A LA LOGICA --> 
        <bean id="materiasNGC" class="com.udea.proint1.microcurriculo.ngc.impl.MateriasNGCImpl">
        	<property name="materiasDao" ref="materiasDAO" />
        	<property name="nucleoDao" ref="nucleoDAO" />
        </bean>
        
        <bean id="personaNGC" class="com.udea.proint1.microcurriculo.ngc.impl.PersonaNGCImpl">
        	<property name="personaDao" ref="personaDAO" />
        </bean>
        
        <bean id="nucleoNGC" class="com.udea.proint1.microcurriculo.ngc.impl.NucleoNGCImpl">
        	<property name="nucleoDao" ref="nucleoDAO" />
        </bean>
        
        <bean id="semestreNGC" class="com.udea.proint1.microcurriculo.ngc.impl.SemestreNGCImpl">
        	<property name="semestreDao" ref="semestreDAO" />
        </bean>
        
        <bean id="estadosNGC" class="com.udea.proint1.microcurriculo.ngc.impl.EstadosNGCImpl">
        	<property name="estadosDao" ref="estadosDAO" />
        </bean>
        
        <bean id="objetivosNGC" class="com.udea.proint1.microcurriculo.ngc.impl.ObjetivosNGCImpl">
        	<property name="objetivosDao" ref="objetivosDAO" />
        </bean>
        
        <bean id="objetivosxMicroNGC" class="com.udea.proint1.microcurriculo.ngc.impl.ObjetivosxMicroNGCImpl">
        	<property name="objetivosxMicroDao" ref="objetivosxMicroDAO" />
        </bean>
        		
        <bean id="unidadesNGC" class="com.udea.proint1.microcurriculo.ngc.impl.UnidadesNGCImpl">
        	<property name="unidadesDao" ref="unidadesDAO" />
        </bean>
        
        <bean id="temasNGC" class="com.udea.proint1.microcurriculo.ngc.impl.TemasNGCImpl">
        	<property name="temasDao" ref="temasDAO" />
        </bean>
        
        <bean id="temasxUnidadNGC" class="com.udea.proint1.microcurriculo.ngc.impl.TemasxUnidadNGCImpl">
        	<property name="temasxunidadDao" ref="temasxUnidadDAO" />
        </bean>
        
        <bean id="evaluacionesNGC" class="com.udea.proint1.microcurriculo.ngc.impl.EvaluacionesNGCImpl">
        	<property name="evaluacionesDao" ref="evaluacionesDAO" />
        </bean>
        
        <bean id="evaluacionesxMicroNGC" class="com.udea.proint1.microcurriculo.ngc.impl.EvaluacionxmicroNGCImpl">
        	<property name="evaluacionesxmicroDao" ref="evaluacionesxMicroDAO" />
        </bean>
        
        <bean id="unidadAcademicaNGC" class="com.udea.proint1.microcurriculo.ngc.impl.UnidadAcademicaNGCImpl">
        	<property name="unidadAcademicaDao" ref="unidadAcademicaDao" />
        </bean>
        
        <bean id="dependenciaNGC" class="com.udea.proint1.microcurriculo.ngc.impl.DependenciaNGCImpl">
        	<property name="dependenciaDao" ref="dependenciaDao" />
        </bean>
        
        <bean id="paisesNGC" class="com.udea.proint1.microcurriculo.ngc.impl.PaisesNGCImpl">
        	<property name="paisesDao" ref="paisesDAO" />
        </bean>
        
        
        <bean id="microcurriculosNGC" class="com.udea.proint1.microcurriculo.ngc.impl.MicrocurriculosNGCImpl">
        	<property name="microcurriculosDao" ref="microcurriculosDAO" />
        	<property name="materiasDao" ref="materiasDAO" />
        	<property name="nucleoDao" ref="nucleoDAO" />
        	<property name="personaDao" ref="personaDAO" />
        </bean>
        
        <bean id="correquisitosNGC" class="com.udea.proint1.microcurriculo.ngc.impl.CorrequisitosNGCImpl">
        	<property name="correquisitosDao" ref="correquisitosDao" />
        	<property name="materiasDao" ref="materiasDAO" />
        </bean>
        
        <bean id="prerrequisitosNGC" class="com.udea.proint1.microcurriculo.ngc.impl.PrerrequisitosNGCImpl">
        	<property name="prerrequisitosDao" ref="prerrequisitosDao" />
        	<property name="materiasDao" ref="materiasDAO" />
        </bean>
        
        <bean id="unidadesxMicroNGC" class="com.udea.proint1.microcurriculo.ngc.impl.UnidadesxMicroNGCImpl">
        	<property name="unidadesxMicroDao" ref="unidadesxMicroDAO" />
        </bean>
        
        <bean id="subtemasNGC" class="com.udea.proint1.microcurriculo.ngc.impl.SubtemasNGCImpl">
        	<property name="subtemasDao" ref="subtemasDAO" />
        </bean>
        
        <bean id="microxEstadoNGC" class="com.udea.proint1.microcurriculo.ngc.impl.MicroxestadoNGCImpl">
        	<property name="microxestadoDao" ref="microxestadoDao" />
        	<property name="estadosDao" ref="estadosDAO" />
        </bean>
        
        
        <!-- AQUI SE DEFINEN LOS BEANS CORRESPONDIENTES A LOS CONTROLADORES -->
        <bean id="crearMicroCtrl" class="com.udea.proint1.microcurriculo.ctrl.CrearMicroCtrl" scope="prototype">
        	<property name="materiasNGC" ref="materiasNGC" />
        	<property name="personaNGC" ref="personaNGC" />
        	<property name="nucleoNGC" ref="nucleoNGC" />
        	<property name="semestreNGC" ref="semestreNGC" />
        	<property name="paisesNGC" ref="paisesNGC" />
        </bean>
        
        <bean id="crearMateriaCtrl" class="com.udea.proint1.microcurriculo.ctrl.CrearMateriaCtrl" scope="prototype">
        	<property name="materiasNGC" ref="materiasNGC" />
        	<property name="nucleosNGC" ref="nucleoNGC" />
        	<property name="semestresNGC" ref="semestreNGC" />
        </bean>
        
        <bean id="validarDatosCtrl" class="com.udea.proint1.microcurriculo.ctrl.ValidarDatosCtrl" scope="prototype">
        	<property name="materiasNGC" ref="materiasNGC" />
        	<property name="personaNGC" ref="personaNGC" />
        	<property name="semestreNGC" ref="semestreNGC" />
        	<property name="objetivosNGC" ref="objetivosNGC" />
        	<property name="unidadesNGC" ref="unidadesNGC" />
        	<property name="unidadesxMicroNGC" ref="unidadesxMicroNGC" />
        	<property name="estadosNGC" ref="estadosNGC" />
        	<property name="temasNGC" ref="temasNGC" />
        	<property name="temasxUnidadNGC" ref="temasxUnidadNGC" />
        	<property name="evaluacionesNGC" ref="evaluacionesNGC" />
        	<property name="evaluacionesxMicroNGC" ref="evaluacionesxMicroNGC" />
        	<property name="objetivosxMicroNGC" ref="objetivosxMicroNGC" />
        	<property name="subtemasNGC" ref="subtemasNGC" />
        	
        	<!-- 
        	
        	<property name="nucleoNGC" ref="nucleoNGC" />
        	  -->
        </bean>
        
        <bean id="listarMateriasCtrl" class="com.udea.proint1.microcurriculo.ctrl.ListarMateriasCtrl" scope="prototype">
        	<!-- <property name="semestreNGC" ref="semestresNGC" />  -->
        	<property name="materiasNGC" ref="materiasNGC" />
        	<property name="personaNGC" ref="personaNGC" />
        	<!-- <property name="semestreNGC" ref="semestreNGC" />  -->
        </bean>
        
        <bean id="consultarMicroCtrl" class="com.udea.proint1.microcurriculo.ctrl.ConsultarMicroCtrl" scope="prototype">
        	<property name="unidadAcademicaNGC" ref="unidadAcademicaNGC" />
        	<property name="nucleoNGC" ref="nucleoNGC" />
        	<property name="dependenciaNGC" ref="dependenciaNGC" />
        	<property name="materiasNGC" ref="materiasNGC" />
        	<property name="microcurriculosNGC" ref="microcurriculosNGC" />
        	<property name="estadosNGC" ref="estadosNGC" />
        	<property name="correquisitosNGC" ref="correquisitosNGC" />
        	<property name="prerrequisitosNGC" ref="prerrequisitosNGC" />
        </bean>
            
</beans>
