@CHARSET "ISO-8859-1";


.estiloceldas{
	font-size: 9px;
	padding:0 5px;
}

.titulos{
/* 	color: Red; */
	font-family: Arial, Tahoma, Verdana;
	font-weight: bold;
	font-size: medium;
	margin: px;
	padding: 5px;
	text-align: center;
	height: 40;
	width: px;
	font-style: normal
}

.titulos2{
	
}

/**.resaltado{
	color: Red;
	font-family: Arial, Tahoma, Verdana;
	font-weight: bold;
	text-align: center;
	font-style: normal;
}**/

.resaltadonormal{
	font-family: Arial, Tahoma, Verdana;
	font-weight: bold;
}

.z-toolbar a, .z-toolbar a:visited, .z-toolbar a:hover {
    background-color: transparent;
	height: 35px;
	padding: 2px;
	font-style: normal;
	font-weight: bold;
}

.vista {
    background: #004000;
    color: White;
    padding-top: 4;
	font-size: small;
	font-family: Arial, Tahoma, Verdana;
	font-weight: bold;
	height: 35px;
	background-color: AliceBlue;
	font-style: normal;
	padding: 3px;
	margin: 3
}

.p-vista .z-panel-children {
    background-color: #400000;
    border-bottom: 0 none;
}

/**.z-div, .z-div-label{
	margin: px;
	padding: px;
	color: Red;
	font-size: large;
	font-family: Arial, Tahoma, Verdana;
	font-weight: bold
}**/

.z-tabbox {
	color: Green;
	font-family: Arial, Tahoma, Verdana
}